@mixin button-hover {
  background-color: $white;
  box-shadow: $shadow-depth-2;
}

@mixin button-active {
  background-color: $white;
  box-shadow: none;
}

@mixin button-inactive {
  background-color: initial;
  box-shadow: $shadow-depth-1;
  color: $button-disabled;
}
